/* Base styles */
a:link, a:visited, a:hover, a:active { color: blue; text-decoration: none }

body {
  max-width: 960px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 20px 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 35px
}

code { padding: 5px }

figcaption { margin: 16px 0; font-style: italic; text-align: center }

@font-face {
  font-family: 'FatFrank';
  src: url('../fonts/FatFrank/FatFrank-Regular.woff2') format('woff2'),
  url('../fonts/FatFrank/FatFrank-Regular.woff') format('woff');
}

footer { padding: 40px 0 60px }
footer p:first-child { margin-top: 0 }
footer p:last-child { margin-bottom: 0 }

h1, h2, h3 { font-family: FatFrank, sans-serif; font-weight: normal }
h1 {
  margin: 10px 0 10px;
  padding: 20px 0;
  border-top: 1px dotted;
  border-bottom: 1px dotted;
  font-size: 50px;
  line-height: 60px
}
h2 { margin: 50px 0 15px; font-size: 30px; line-height: 35px }
h3 { margin: 45px 0 10px; font-size: 25px; line-height: 30px }

html { height: 100% }

nav { padding-top: 30px }

pre, code {
  font-family: monospace, Monaco;
  background: #fafafa;
  font-size: 18px
}
pre {
  display: block;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #fafafa;
  padding: 20px 20px 20px 40px;
  border-left: 15px solid #ececec;
  line-height: 30px;
}

time { font-style: italic }

/* Component styles */
.centre {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rule { height: 1px; margin-top: 30px; border-top: 1px dotted }

/* Message styles */
.message { padding: 20px 20px 20px 40px; border-left: 15px solid }
.message::before { font-weight: bold }

.call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center
}
.call-to-action span {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word
}
@media only screen and (min-width: 576px) {
  .call-to-action {
    flex-direction: row;
    padding-left: 40px;
    text-align: left
  }
  .call-to-action svg { flex-shrink: 0 }
  .call-to-action span { margin-left: 20px }
}
.call-to-action { background-color: #ffffe6; border-color: #f5f5ba }

.error { background-color: #fff1f1; border-color: #f3dcdc }
.error::before { content: "Error: " }

.todo { background-color: #ddeaae; border-color: #cce085 }
.todo::before { content: "Todo: " }

/* Page styles */
.home {
  background-image: linear-gradient(to left bottom, #e9f4e9, #ddf3db, #d3f2cc, #caf1bb, #c3efaa)
}
.home h1 {
  margin: 0;
  padding: 0;
  border-top: none;
  border-bottom: none;
  font-size: 30px;
  line-height: initial
}
.home h2 {
  margin: 40px 0 10px;
  padding: 0;
  font-size: 35px;
  line-height: initial
}
.home p { margin: 5px 0; padding: 0 }
.home ul { margin: 0; padding: 0; list-style: none }
.home li { padding-bottom: 10px }
.home li a, .home li time { display: block }
@media only screen and (max-width: 576px) {
  .home ul { max-height: 200px; overflow: scroll; padding-right: 10px }
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(130, 155, 117, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.lead { margin-top: 50px; }
