/* Base styles */
@font-face {
  font-family: 'FatFrank';
  src: url('../fonts/FatFrank/FatFrank-Regular.woff2') format('woff2'),
  url('../fonts/FatFrank/FatFrank-Regular.woff') format('woff');
}

html { height: 100% }

body {
  max-width: 960px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 30px 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 35px
}

nav { padding-top: 30px }

h1, h2, h3 { font-family: FatFrank, sans-serif; font-weight: normal }
h1 {
  margin: 10px 0 10px;
  padding: 20px 0;
  border-top: 1px dotted;
  border-bottom: 1px dotted;
  font-size: 50px;
  line-height: 60px
}
h2 { margin: 50px 0 15px; font-size: 30px; line-height: 35px }
h3 { margin: 45px 0 10px; font-size: 25px; line-height: 30px }

time { font-style: italic }

a { text-decoration: none }

figcaption { margin: 16px 0; font-style: italic; text-align: center }

pre, code {
  font-family: monospace, Monaco;
  background: #fafafa;
  font-size: 18px
}
code { padding: 5px }
pre {
  display: block;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #fafafa;
  padding: 40px;
  border-left: 15px solid #ececec;
  line-height: 30px;
}

footer { padding: 50px 0 70px }
footer p:first-child { margin-top: 0 }
footer p:last-child { margin-bottom: 0 }

.centre {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0
}

.root {vertical-align: bottom }

.cta { display: flex; align-items: center; padding: 20px }
.cta.wunder { background: #fffbf5 }
.cta svg { flex-shrink: 0 }
.cta path { fill: black }
.cta span {
  margin-left: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word
}

p.todo {
  background: #ddeaae;
  padding: 5px 5px 5px 40px;
  border-left: 15px solid #c6d29c;
  font-style: italic;
}
p.todo::before {
  content: "Todo: ";
}

/* Page styles */
.home h1 {
  margin: 0;
  padding: 0;
  border-top: none;
  border-bottom: none;
  font-size: 30px;
  line-height: initial
}
.home p { margin: 0; padding-bottom: 20px }
.home h2 {
  margin: 40px 0 10px;
  padding: 0;
  font-size: 35px;
  line-height: initial
}
.home ul, .archive ul { margin: 0; padding: 0; list-style: none }

.notebook h1 {
  border-top-style: dashed;
  border-bottom-style: dashed;
}
.notebook nav, .notebook h1, .notebook time { text-align: center }
.notebook time { display: block }
