@font-face {
  font-family: 'FatFrank';
  src: url('../fonts/FatFrank/FatFrank-Regular.woff2') format('woff2'),
  url('../fonts/FatFrank/FatFrank-Regular.woff') format('woff');
}

html { height: 100% }

body {
  max-width: 960px;
  min-height: 100%;
  margin: 10px auto 100px;
  padding: 0 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 35px
}

h1, h2 { font-family: FatFrank, sans-serif; font-weight: normal }
h1 {
  margin: 10px 0 40px;
  padding: 20px 0;
  border-top: 1px dotted;
  border-bottom: 1px dotted;
  font-size: 50px;
  line-height: 60px
}
h2 { margin: 50px 0 15px; font-size: 30px; line-height: 35px }

a { text-decoration: none }

figcaption { margin: 16px 0; font-style: italic; text-align: center }

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0
}
.home h2 { margin: 0 0 15px; font-size: 40px }
.home h1 {
  margin: 50px 0 0;
  border-top: none;
  border-bottom: none;
  font-size: 65px
}

.home ul, .archive ul { padding: 0; list-style: none }
.home li:last-child { margin-top: 20px }

pre, code {
  font-family: monospace, Monaco;
  background: #fafafa;
  font-size: 18px
}
code { padding: 5px }
pre {
  display: block;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #fafafa;
  padding: 40px;
  border-left: 15px solid #ececec;
  line-height: 30px;
}

.twitter-tweet-button, .twitter-follow-button { vertical-align: text-bottom }

.cta { background: #fff8ef; border: 1px solid #efdfca; padding: 20px }
