{#
/**
 * @file
 * Skills matrix theme implentation.
 *
 * Variables:
 * - filters: Filters form.
 */
#}

<div class="skills-matrix">
  <div class="skills-matrix__top">
    <table class="skills-matrix__legend">
      <tbody>
      <tr>
        <th>Basic</th>
        <td class="skills-matrix--basic"></td>
        <th>Projects</th>
        <td class="skills-matrix--projects"></td>
        <th>Student</th>
        <td class="skills-matrix--student"></td>
        <th>Teacher</th>
        <td class="skills-matrix--teacher"></td>
      </tr>
      </tbody>
    </table>
    <div class="skills-matrix__filters-display-toggle"><a href="#">Hide filters</a>
    </div>
  </div>
  <div class="skills-matrix__outer">
    <div class="skills-matrix__inner">
      <div></div>
    </div>
    {{ filters }}
  </div>
</div>
