form, text {
  font: 16px sans-serif;
}

select {
  font-size: 16px;
  margin: 40px 0;
}

.legend text {
  fill: #555;
}

.legend rect {
  fill: #fafafa;
}

.basic {
  fill: #ddd;
}

.project {
  fill: #999;
}

.student {
  fill: none;
  stroke: #555;
}

.teacher {
  fill: #555;
  stroke: none;
}

.category {
  font-size: 18px;
  font-style: italic;
}

.skill {
  dominant-baseline: ideographic;
}
