form, text, table {
  font: 16px sans-serif;
}

select {
  font-size: 16px;
  margin: 40px 0;
}

.legend text {
  fill: #555;
}

.legend rect {
  fill: #fafafa;
}

.basic {
  fill: #ddd;
}

.project {
  fill: #999;
}

.student {
  fill: none;
  stroke: #555;
}

.teacher {
  fill: #555;
  stroke: none;
}

.category {
  font-size: 18px;
  font-style: italic;
}

.skill {
  dominant-baseline: ideographic;
}

.person {
  fill: #555;
  font-weight: bold;
}

.wrapper {
  position: relative;
  left: 0;
  right: 202px;
}

.robot {
  overflow-x: scroll;
  margin-left: 202px;
}

th:first-child {
  position: absolute;
  width: 202px;
  left:0;
  font-style: italic;
}

table {
  border-spacing: 5px;
}

thead th {
  height: 140px;
  font-weight: normal;
  white-space: nowrap;
}

thead th div {
  transform: translate(0px, 54px) rotate(-90deg);
  width: 30px;
}

tbody th {
  text-align: left;
  font-weight: normal;
}

tbody th div {
  width: 192px;
  text-align: left;
}

td {
  height: 30px;
  text-align: center;
  font-size: 12px;
}

.scroll-right {
  display: block;
  text-align: center;
}
