@text-color: rgb(51, 51, 51);
@card-color: rgb(224, 209, 209);
@name-bg-color: rgba(0, 0, 0, 0.3);
@line-color: rgb(238, 238, 238);
@width: 320px;
@height: 480px;
@winner: rgb(208, 241, 158);
@no-winner: rgb(240, 240, 240);

.game {
    display: flex;
    align-items: center;
    color: @text-color;
}

.cards {
    display: flex;
    width: @width + (@width * .09) * 3;
    &.stack-0 {
        flex-direction: row-reverse;
    }
    &.stack-1 {
        .wrapper:not(:first-child) {
            direction: rtl;
        }
    }
}

.wrapper {
    overflow: hidden;
    .card {
        height: @height;
        width: @width;
        background-color: @card-color;
        border-radius: 10px;
        border: 1px solid @card-color;
    }
    &:first-child {
        overflow: visible;
    }
}

.face-up {
    .picture {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: @height / 2;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        .name {
            background-color: @name-bg-color;
            color: white;
            padding: 10px;
            .common-name {
                font-weight: bold;
            }
        }
    }
    .facts {
        display: flex;
        flex-direction: column;
        height: @height / 2;
        margin: 0;
        padding: 0;
        .fact {
            display: flex;
            align-items: center;
            flex: 1;
            background-color: white;
            border-bottom: 1px solid @line-color;
            cursor: pointer;
            div {
                flex: 1;
                &:first-child {
                    color: lighten(@text-color, 30%);
                    padding-left: 10px;
                    &::after {
                        content: ':';
                    }
                }
                &:last-child {
                    padding-right: 10px;
                    text-align: right;
                }
            }
            &:last-child {
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
                div {
                    border-bottom: 0;
                }
            }
            &:active {
                div {
                    color: black;
                }
            }
        }
        @keyframes winner {
            0% {
              background-color: white;
            }
            25% {
                background-color: @winner;
            }
            100% {
              background-color: @winner;
            }
        }
        .winner {
            animation: 3s ease-out 0s 1 winner;
        }
        @keyframes no-winner {
            0% {
              background-color: white;
            }
            25% {
                background-color: @no-winner;
            }
            100% {
              background-color: @no-winner;
            }
        }
        .loser, .draw {
            animation: 3s ease-out 0s 1 no-winner;
        }
    }
}

.face-down {
    .picture, .facts {
        display: none;
    }
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAPUlEQVQoU2P8////fwYcoNLTk4ERlwKQZPv27dgVwCRBBmOYgCyJoQBdEkUBNkm4AlySYAUVHh7/Qa7FBQBDgjL01emnxAAAAABJRU5ErkJggg==);
    background-repeat: repeat;
}

.messages {
    margin: 0 22px;
    width: 105px;
    text-align: center;
    line-height: 1.5;
    .arrow {
        color: lightgray;
        font-size: 80%;
    }
}
